<div class="chat-header">
  <div class="chatroom-title">
    chatroom1
  </div>
  <div class="btn-border">
   <div class="chatend-btn">
     <a href="#">チャットを終了する</a>
   </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="user-date">
      <div class="username">Tom</div>
      <div class="date">2020/3/3(Wed) 12:33</div>
    </div>
    <div class="chat-messege">おわらん</div>
  </div>
  
</div>

<div class="form">
  <div class="form-input">
    <input class="text" type="text" placeholder="type a message">
    <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class ="submit-btn">
</div>