<%# user名、ルーム作成 %>
<div class="side-bar-header">
  <div class="header-name">
   <a href="#">kakaka</a>
  </div>
  <div class="create-room">
   <a href="#">チャットを作成する</a>
  </div>
</div>

<%# room一覧 %>
<div class="rooms">
  <div class="room"><a href="#">chatroom1</a></div>
</div>